<% if @student.errors.any? %>
  <div class="container">
    <div class="row sign-up-form">
      <div class="col s12 m12 l12">
        <div class="card-panel red lighten-2">
          <span class="white-text">
            <%= pluralize(@student.errors.count, 'error') %>
              occured while processing request:
              <ul>
                <% @student.errors.full_messages.each do |message| %>
                  <li> <%= message %></li>
                <% end %>
              </ul>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
  
<div class="container">
  <div class="row center sign-up-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header">Edit Profile</h3>
        <div class="row">
          <%= form_for (@student), html: { class: 'col s12 '} do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :name, placeholder: 'Kerry Washington', autofocus: true %>
                <%= f.label :name %> 
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.email_field :email, autocomplete: 'email', placeholder: 'email@example.com' %>
                <%= f.label :email %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.button 'Update', class: 'btn orange waves-effect waves-light center' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
