<div class="container">
  <div class="row center sign-up-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header">Sign Up</h3>
        <div class="row">
          <%= form_for (@student), html: { class: 'col s12 '} do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :name, placeholder: 'Kerry Washington', autofocus: true %>
                <%= f.label :name %> 
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.email_field :email, autocomplete: 'email', placeholder: 'email@example.com' %>
                <%= f.label :email %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.button 'Sign Up', class: 'btn orange waves-effect waves-light center' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
